@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    --primary-color: #ea580c;
    --background-color: 230, 230, 230;
    --content-panel-color: 248, 246, 246;
}

.nobg {
    background-color: rgba(0, 0, 0, 0) !important;
}

.text-xxs {
    font-size: 10px !important;
}

.text-xxxs {
    font-size: 8px !important;
}

.nav-active
{
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.nav-item:hover
{
    background-color: rgba(0, 0, 0, 0.05);
}

.primary {
    background-color: var(--primary-color);
}

.background-col {
    background-color: rgb(var(--background-color));
}

.content-col {
    background-color: rgb(var(--content-panel-color));
}

.hint-col {
    color: theme('colors.gray.500');
}

.link-col {
    color: theme('colors.blue.600')
}
body,
html,
#app {
    background-color: rgb(var(--background-color));
    width: 100%;
    height: 100%;
}

.ContentPanel {
    background-color: rgb(var(--content-panel-color));
    padding: 30px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(var(--content-panel-color)) inset !important;
}
