@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities
{
    .background-col {
        background-color: var(--background-color);
    }

    .content-col {
        background-color: var(--content-panel-color);
    }

    .primary-col {
        background-color: var(--primary-color);
    }
}

@media (min-width: 768px) {
    .md\\:background-col {
        @apply background-col;
    }
}

* {
    --primary-color: #233d72;
    --primary-color-hov: #325097;
    --primary-search-col: #1f386b;
    --background-color: rgb(252, 252, 252);
    --content-panel-color: color-white;
}

.primary-button:hover {
    background-color: var(--primary-color-hov);
}

.primary-search-col {
    background-color: var(--primary-search-col);
}

.nav-size {
    transition: width 0.3s ease-in-out;
}

.line {
    height: 3px;
    width: 20px;
    border-radius: 25px;
    background: theme('colors.gray.100');
    transition: all 0.5s ease;
    transform: translateY(+10px);
    margin-left: 15px;
}

.nav-top-line {
    height: 1px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
}

.modal-line {
    height: 2px;
    border-radius: 45px;
    background: theme('colors.gray.300');
    width: 98%;
}

.nav-title {
    transition: all 0.3s ease;
    margin-left: 15px;
}

.table-content-padding
{
    padding-left: 15px;
    padding-right: 15px;

    min-width: 30rem;
}

.table-item {
    padding-top: 14px;
    padding-bottom: 14px;
}

.table-item:not(:first-child) {
    border-top: 1px solid theme('colors.gray.200');
}

.nav-grad.hide {
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.hide {
    opacity: 0;
}

.nobg {
    background-color: rgba(0, 0, 0, 0) !important;
}

.text-xxs {
    font-size: 10px !important;
}

.text-xxxs {
    font-size: 8px !important;
}

.nav-active
{
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.nav-item {
    transition: all 0.3s ease-in-out 0s;
    color: #ebe9e6;
}

.nav-item:hover
{
    background-color: rgba(255, 255, 255, 0.05);
}

.primary {
    background-color: var(--primary-color);
}

.hint-col {
    color: theme('colors.gray.500');
}

.link-col {
    color: theme('colors.blue.600');
}

@keyframes skeleton-loading {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: calc(200px + 100%) 0;
    }
  }

  .skeleton-line {
    background-color: theme('colors.gray.200');
    background-image: linear-gradient(90deg, theme('colors.gray.200'), #f8fafc, theme('colors.gray.200'));
    background-size: 200px 100%;
    background-repeat: no-repeat;
    /* display: inline-block; */
    line-height: 1;
    animation: skeleton-loading 1.5s infinite;
  }

body,
html,
#app {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
}

.Modal {
    box-shadow: 0px 2px 2px 0.3px #DBDBDB;
    width: 50%;
    align-items: center;
    top: 5%;
    position: fixed;
    background-color: var(--content-panel-color);
}

.PanelGrid .ContentPanel {
    width: 100%;
}

@screen xl {
    .PanelGrid .ContentPanel {
        width: 50%
    }
}

.ContentPanel {
    background-color: var(--content-panel-color);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #E5E5E5;
    box-shadow: 0 1px 2px 0.2px rgba(100,100,100,0.1);
}

.floatbox {
    box-shadow: 1px 2px 4px 0.1px #DBDBDB;
}

.nav {
    height: 100%;
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    background-color: var(--primary-color);
}

.nav-top {
    top: 0;
    box-shadow: 0px 0px 4px 0.5px #DBDBDB;
    transition: 0.5s;
    white-space: nowrap;
    z-index: 1;
    background-color: var(--primary-color);
}

.barmenu {
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.05);
    transition: 0.5s;
    background-color: var(--primary-color);
}

.rule {
    height: 1px;
    width: 100%;
    border-radius: 25px;
    background-color: theme('colors.gray.200');
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-icon {
    min-width: 50px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(var(--content-panel-color)) inset !important;
}
